* {
    margin: 0;
    padding: 0;
}

.nav {
    background-color: #fff;
    display: table;
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 100%;
    max-width: 1400px;
}

.list-item {
    border: 1px solid #bdbdbd;
    display: table-cell;
}

.nav a {
    color: #35524e;
    display: block;
    padding: 10px 0;
    text-decoration: none;
}

.list-item ul {
    display: none;
    margin-bottom: 20px;
}

.list-item:hover {
    border-bottom-color: #fff;
}

.list-item:hover ul {
    display: table;
    left: 0;
    position: absolute;
}

.nav-dropdown li {
    box-sizing: border-box;
    display: table-cell;
    padding: 10px 10px 0 0;
}

.list-item:hover ul li {
    box-sizing: border-box;
    display: table-cell;
    padding: 10px 10px 0 0;
}

.list-item:hover ul li:last-child {
    padding-right: 0;
}

.list-item:hover ul a {
    padding: 0;
}

.list-item:hover ul img{
    width: 100%;
}
